@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
	--black: #181c1f;
	--light: #1f2529;
	--white: #ffffff;
    --gray: #868686;
	--blurple: #5865F2;
	--dblurple: #454FBF;
    --ddblurple: #1c2372;
}

/** Main **/
body, html {
	background-color: var(--black);
	text-align: center;
	color: var(--white);
	text-decoration: none;
	font-family: 'Righteous', cursive;
	scroll-behavior: smooth;
    height: 100%;
}

hr {
	width: 40%;
	color: var(--dblurple)
}

button {
	color: var(--white);
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
	border: 2px solid var(--light);
	border-radius: 10px;
	transition: all .5s ease;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: var(--black);
	font-size: 20px;
	margin: 10px;
	font-family: 'Righteous', cursive;
}

button:hover {
	background-color: var(--dblurple);
	box-shadow: inset 0 0 0 4px var(--white);
}

.title {
    font-size: 80px;
    letter-spacing: 2px;
    transition: all .5s ease;
    text-shadow: 5px 5px 0px var(--blurple), 10px 10px 0px var(--blurple), 15px 15px 0px var(--blurple), 20px 20px 0px var(--dblurple), 25px 25px 0px var(--dblurple), 30px 30px 0px var(--dblurple), 35px 35px 0px var(--ddblurple), 40px 40px 0px var(--ddblurple), 45px 45px 0px var(--ddblurple);
}

.title:hover {
    text-shadow: none;
}

.large {
	font-size: 40px;
	letter-spacing: 2px;
}

.med {
	font-size: 30px;
	letter-spacing: 2px;
}

.small {
	font-size: 20px;
	letter-spacing: 2px;
}

/** Nav Bar **/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--black);
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

li {
	float: left;
	margin: 10px;
	margin-top: 20px;
    color: var(--gray);
    font-family: 'Righteous', cursive;
    text-align: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
    border-radius: 10px;
    padding: 5px;
}

li a {
	display: block;
	color: var(--white);
	text-align: center;
	padding: 8px 16px;  
	text-decoration: none;
	border: 2px solid var(--light);
	border-radius: 10px;
	transition: all .5s ease;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

li a:hover:not(.active) {
	background-color: var(--dblurple);
	box-shadow: inset 0 0 0 4px var(--white);
}

.home {
	border: 2px solid var(--blurple);
	border-radius: 10px;
}

#title {
	float: right;
	margin-right: 50px;
	letter-spacing: 4px;
}

#date {
    transition: all .5s ease;
}

#date:hover {
    color: var(--white);
}

/** Center **/
#center {
    display: flex;
    justify-content: center;
    align-items: center;
	background-image: url("https://cdn.discordapp.com/attachments/887425578825814018/1027668796741267506/unknown.png");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

/** Bottom **/
#about {
	justify-content: center;
	align-content: center;
	flex-direction: row;
	margin: auto;
	display: flex;
	margin-top: 40px;
}

.section {
	background-color: var(--black);
	border-radius: 10px;
	margin: 20px;
	padding: 10px;
	width: 20%;
	height: 20%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: all .5s ease;
}	

.section:hover {
	width: 22%;
	box-shadow: rgba(0, 0, 0, 10) 0px 5px 15px;
}

/** Links **/
#links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

#content {
	background-color: var(--black);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: all .5s ease;
	width: 60%;
}

#content:hover {
	box-shadow: rgba(0, 0, 0, 10) 0px 5px 15px;
}

/** Footer **/
footer {
	margin-top: 80px;
	padding: 10px;	
	display: block;
	color: var(--gray);
	background-color: var(--light);
} 
